.main{
    text-align: center;
    border: 2px grey solid;
    
}
#pic{
    width: 100px;
padding-left: 40px;

}
#submit{
    background-color:rgba(6, 112, 6, 0.452);
        font-weight: bold;
   
}
#cnl{   
    background-color: red;
    font-weight: bold;
}
.top{
    background-color: black;
    color: white;
    word-spacing: 10px

}
#id:hover{
    color: lightblue;
}
#id{
    text-decoration: none;
    color: white;
}